<div class="app-page">
  <div class="page-head">
    @if(isEdit){
    <h1 class="page-title">Mise à jour d'un consultant</h1>
    }@else{
    <h1 class="page-title">Ajout d'un consultant</h1>
    }
  </div>

  <div class="card">
    <div class="card-body">
      <form [formGroup]="formConsultant" #form="ngForm" (ngSubmit)="addConsultant()">
        <div class="form-grid cols-2">

          <div>
            <label class="form-label fw-bold" htmlFor="firstName">Nom *</label>
            <input type="text" id="firstName" class="form-control" formControlName="firstName" [class.is-invalid]="
          formConsultant.get('firstName')?.invalid &&
          formConsultant.get('firstName')?.touched
        " />
            <div *ngIf="
          formConsultant.get('firstName')?.invalid &&
          formConsultant.get('firstName')?.touched
        " class="text-danger">
              Ce champ est requis.
            </div>
          </div>

          <div>
            <label class="form-label fw-bold" htmlFor="lastName">Prénom *</label>
            <input type="text" id="lastName" class="form-control" formControlName="lastName" [class.is-invalid]="
          formConsultant.get('lastName')?.invalid &&
          formConsultant.get('lastName')?.touched
        " />

            <div *ngIf="
          formConsultant.get('lastName')?.invalid &&
          formConsultant.get('lastName')?.touched
        " class="text-danger">
              Ce champ est requis.
            </div>
          </div>

          <div>
            <label class="form-label fw-bold" htmlFor="email">Email *</label>
            <input type="text" id="email" class="form-control" formControlName="email" [class.is-invalid]="
                  formConsultant.get('email')?.invalid &&
                  formConsultant.get('email')?.touched
                " />
            <div *ngIf="
                  formConsultant.get('email')?.errors?.['required'] &&
                  formConsultant.get('email')?.touched
                " class="text-danger">
              Ce champ est requis.
            </div>

            <div *ngIf="
                  formConsultant.get('email')?.errors?.['invalidEmail'] &&
                  formConsultant.get('email')?.touched
                " class="text-danger">
              L'adresse e-mail n'est pas valide.
            </div>
          </div>

          <div>
            <label class="form-label fw-bold" htmlFor="rue">fonction *</label>
            <input type="text" id="fonction" class="form-control" formControlName="fonction" [class.is-invalid]="
                          formConsultant.get('fonction')?.invalid &&
                          formConsultant.get('fonction')?.touched
                        " />
            <div *ngIf="
                          formConsultant.get('fonction')?.invalid &&
                          formConsultant.get('fonction')?.touched
                        " class="text-danger">
              Ce champ est requis.
            </div>
          </div>
        </div>

        <div class="form-actions sticky-actions d-flex justify-content-center gap-3 mt-4">
          <button class="btn btn-secondary" (click)="cancel()">Annuler</button>
          <button class="btn btn-primary" type="submit">Valider</button>
        </div>
      </form>
    </div>
  </div>
</div>
