<form [formGroup]="formClient" #form="ngForm" (ngSubmit)="addClient()" class="p-4 border rounded">
    <div class="row">

        <div class="mb-3 fw-bold">Informations client :</div>

        <!-- Colonne gauche -->
        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label" htmlFor="socialReason">Raison Social</label>
                <input type="text" id="socialReason" class="form-control" formControlName="socialReason"
                    [class.is-invalid]="
            formClient.get('socialReason')?.invalid &&
            formClient.get('socialReason')?.touched
          " />
                <div *ngIf="
            formClient.get('socialReason')?.invalid &&
            formClient.get('socialReason')?.touched
          " class="text-danger">
                    Ce champ est requis.
                </div>
            </div>
        </div>

        <!-- Colonne droite -->
        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label" htmlFor="email">EMail</label>
                <input type="text" id="email" class="form-control" formControlName="email" [class.is-invalid]="
            formClient.get('email')?.invalid &&
            formClient.get('email')?.touched
          " />

                <div *ngIf="
            formClient.get('email')?.invalid &&
            formClient.get('email')?.touched
          " class="text-danger">
                    Ce champ est requis.
                </div>
            </div>
        </div>
    </div>

    <div class="mb-3 fw-bold">Adresse client :</div>

    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label" htmlFor="numero">Numéro</label>
                <input type="text" id="numero" class="form-control" formControlName="numero" [class.is-invalid]="
                    formClient.get('numero')?.invalid &&
                    formClient.get('numero')?.touched
                  " />
                <div *ngIf="
                    formClient.get('numero')?.invalid &&
                    formClient.get('numero')?.touched
                  " class="text-danger">
                    Ce champ est requis.
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label" htmlFor="rue">Rue</label>
                <input type="text" id="rue" class="form-control" formControlName="rue" [class.is-invalid]="
                            formClient.get('rue')?.invalid &&
                            formClient.get('rue')?.touched
                          " />
                <div *ngIf="
                            formClient.get('rue')?.invalid &&
                            formClient.get('rue')?.touched
                          " class="text-danger">
                    Ce champ est requis.
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label" htmlFor="codePostal">Code Postal</label>
                <input type="text" id="codePostal" class="form-control" formControlName="codePostal" [class.is-invalid]="
                                    formClient.get('codePostal')?.invalid &&
                                    formClient.get('codePostal')?.touched
                                  " />
                <div *ngIf="
                                    formClient.get('codePostal')?.invalid &&
                                    formClient.get('codePostal')?.touched
                                  " class="text-danger">
                    Ce champ est requis.
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label" htmlFor="localite">Commune</label>
                <input type="text" id="localite" class="form-control" formControlName="localite" [class.is-invalid]="
                                            formClient.get('localite')?.invalid &&
                                            formClient.get('localite')?.touched
                                          " />
                <div *ngIf="
                                            formClient.get('localite')?.invalid &&
                                            formClient.get('localite')?.touched
                                          " class="text-danger">
                    Ce champ est requis.
                </div>
            </div>
        </div>
        <div>
            <div class="mb-3">
                <label class="form-label" htmlFor="pays">Pays</label>
                <input type="text" id="pays" class="form-control" formControlName="pays" [class.is-invalid]="
                                                    formClient.get('pays')?.invalid &&
                                                    formClient.get('pays')?.touched
                                                  " />
                <div *ngIf="
                                                    formClient.get('pays')?.invalid &&
                                                    formClient.get('pays')?.touched
                                                  " class="text-danger">
                    Ce champ est requis.
                </div>
            </div>
        </div>

    </div>

    <div class="d-flex justify-content-center gap-3">
        <button class="btn btn-secondary me-2" (click)="cancel()">Annuler</button>
        <button class="btn btn-primary" type="submit">Valider</button>
    </div>
    </form>