@if(isLoaded){

<div class="mt-4 mx-5">
  <div class="d-flex justify-content-between align-items-end mb-3" style="gap: 10px;">
    <div style="width: 150px ; margin-right: 0;">
      <label for="yearSelect" class="form-label fw-bold">Exercice</label>
      <select (change)="setExerciceValue($event)" class="form-select" id="yearSelect">
        @for (year of exercises; track year.id) {
        <option [value]="year.exercise">{{ year.exercise }}</option>
        }
      </select>
    </div>

    <div style="width: 150px; margin-left: 0;">
      <label for="typeSelect" class="form-label fw-bold">Type</label>
      <select (change)="setTypeValue($event)" class="form-select" id="typeSelect">
        @for (type of typeOperations; track type) {
        <option [value]="type">{{ type }}</option>
        }
      </select>
    </div>

    @if(tvaInfosFilterd){
    <div><strong>CA NET : </strong> {{ tvaInfosFilterd!.totalCAHorsTaxe | customDecimalPipe}}</div>
    }

    <div><strong>Total Opérations : </strong> {{totalOperation | customDecimalPipe }}</div>

     <div class="d-flex align-items-center gap-0">
      <!-- Search -->
      <input
      type="text"
      class="form-control shadow-sm rounded-pill px-4"
      style="width: 250px; transition: all 0.3s ease;"
      [formControl]="searchControl"
      placeholder="🔍 Chercher opérations..."
    />
    <div>
      <label class="form-label invisible" for="add">Ajouter</label>
      <button id="add" class="btn btn-pink" (click)="importerOperations()" title="Importer opérations">
        <i class="bi bi-plus-circle me-1"></i>
        Ajouter
      </button>
    </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-success table-striped">
      <thead class="table-dark">
        <tr>
          <th scope="col">Type Opération</th>
          <th scope="col">Exercice</th>
          <th scope="col">Montant Opération</th>
          <th scope="col">Date Opération</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (operation of operationsFiltred; track operation.id) {
        <tr>
          <td style="text-align: center">{{ operation.typeOperation }}</td>
          <td style="text-align: center">{{ operation.exercise }}</td>
          <td style="text-align: center">{{ operation.montantOperation | customDecimalPipe }}</td>
          <td style="text-align: center">{{ operation.dateOperation }}</td>

          <td>
            <button class="btn btn-outline-primary btn-sm me-2" (click)="updateOperation(operation)"
              title="Modifier opération">
              <i class="bi bi-pencil"></i>
            </button>
            <button class="btn btn-outline-danger btn-sm me-2" (click)="deleteOperation($event, operation)"
              title="Supprimer opération" [disabled]="!isAdmin">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
        } @empty {
        <tr>
          <td colspan="8" class="text-center text-muted py-3">
            Aucune Opération
          </td>
        </tr>
        }
      </tbody>
    </table>
    @if(totalPages > 1){
    <!-- ✅ Pagination bien placée et centrée -->
    <div class="pagination d-flex justify-content-center align-items-center gap-3 mt-3">
      <button class="btn btn-outline-primary" (click)="previousPage()" [disabled]="page === 0">
        ← Précédent
      </button>
      <span>Page {{ page + 1 }} / {{ totalPages }}</span>
      <button class="btn btn-outline-primary" (click)="nextPage()" [disabled]="page >= totalPages - 1">
        Suivant →
      </button>
    </div>
    }
  </div>
</div>

} @else {
<bill-waiting [edit]="parent"></bill-waiting>
}