<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>

<main class="form-signin">
  <form [formGroup]="formLogin" #form="ngForm" (ngSubmit)="authenticate()">
    <img
      class="mb-4"
      src="../assets/sbatec.jpg"
     width="300" height="200" alt="logo"
    />
    <h1 class="h3 mb-3 fw-normal">Veuillez vous connecter</h1>

    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="username"
        [class.is-invalid]="
            formLogin.get('username')?.invalid &&
            formLogin.get('username')?.touched"
      />

      <label for="email">E-Mail : *</label>
      <div
        *ngIf="
          formLogin.get('username')?.invalid &&
            formLogin.get('username')?.touched
        "
        class="text-danger"
      >
        L'adresse Email est requise.
      </div>
    </div>

    <div class="form-floating mb-3">
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="password"
         [class.is-invalid]="
            formLogin.get('password')?.invalid &&
            formLogin.get('password')?.touched"
      />
      <label for="password">Mot de passe : *</label>
      <div
        *ngIf="
          formLogin.get('password')?.invalid &&
            formLogin.get('password')?.touched 
        "
        class="text-danger"
      >
        Le mot de passe est requis.
      </div>
    </div>

    <div class="checkbox mb-3">
      <label> <input type="checkbox" value="remember-me" /> Remember me </label>
    </div>
    <button
      class="w-100 btn btn-lg btn-primary"
      type="submit"
      (click)="authenticate()"
    >
      Valider
    </button>
  </form>
</main>
