@if(isLoaded){

<div class="mt-4 mx-5">
  <div class="d-flex justify-content-between align-items-end mb-3">
    <!-- Colonne de gauche : Exercice -->
    <div style="width: 200px">
      <label for="yearSelect" class="form-label fw-bold">Exercice</label>
      <select (change)="setYearValue($event)" class="form-select" id="yearSelect" [(ngModel)]="selectedExercice">
        @for (year of exercises; track year.id) {
        <option [value]="year.exercise">{{ year.exercise }}</option>
        }
      </select>
    </div>
    <!-- Colonne centrale : Tableau centré -->
    <div class="flex-grow-1 d-flex justify-content-center">
      <table class="table table-bordered w-auto table-dark">
        <thead>
          <tr>
            <th scope="col">CA TTC</th>
            <th scope="col">CA NET</th>
            <th scope="col">TOTAL TVA</th>
            <th scope="col">TOTAL NET</th>
            <th scope="col">TOTAL REGLE</th>
            @if(tvaInfos && tvaInfos.totalTvaRestant>0 ){
            <th scope="col">RESTE A PAYER</th>
            }@else if(tvaInfos && tvaInfos.totalTvaRestant<0){ <th scope="col">TROP PAYER</th>
              }
              @else{
              <th scope="col">Match (0:0)</th>
              }
          </tr>
        </thead>
        <tbody>
          <tr>
            @if(tvaInfos){
            <td class="text-center">
              {{ tvaInfos.totalTTC | customDecimalPipe }}
            </td>
            <td style="text-align: center">
              {{ tvaInfos.totalCAHorsTaxe | customDecimalPipe }}
            </td>
            <td class="text-center">
              {{ tvaInfos.totalTva | customDecimalPipe }}
            </td>
            <td class="text-center">
              {{ tvaInfos.totalTvaNet | customDecimalPipe }}
            </td>
            <td class="text-center">
              {{ tvaInfos.totalTvaPaye | customDecimalPipe }}
            </td>
            @if(tvaInfos.totalTvaRestant > 0 ){
            <td class="text-center">
              {{ tvaInfos.totalTvaRestant | customDecimalPipe }}
            </td>
            }@else {
            <td class="text-center">
              {{ -tvaInfos.totalTvaRestant | customDecimalPipe }}
            </td>
            }
            }
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-success table-striped">
      <thead class="table-dark">
        <tr>
          <th scope="col">Numéro Facture</th>
          <th scope="col">Mois Facture</th>
          <th scope="col">Tarif HT</th>
          <th scope="col">Quantité</th>
          <th scope="col">Prix Total TTC</th>
          <th scope="col">Prix Total HT</th>          
          <th scope="col">Total TVA</th>
          <th scope="col">Débit TVA</th>
          <th scope="col">Date d'Echéance</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (facture of factures; track facture.id) {
        <tr [ngClass]="{
            'table-success': facture.factureStatus == 'OK',
            'table-danger': facture.factureStatus == 'KO'
          }">
          <td style="text-align: center">{{ facture.numeroFacture }}</td>
          <td>{{ facture.moisFacture }}</td>
          <td>{{ facture.tarifHT }}</td>
          <td>{{ facture.quantite | customDecimalPipe }}</td>
          <td>{{ facture.prixTotalTTC | customDecimalPipe }}</td>
          <td>{{ facture.prixTotalHT | customDecimalPipe }}</td>          
          <td>{{ facture.montantTVA | customDecimalPipe }}</td>
          <td>{{ facture.montantTvaPaye | customDecimalPipe }}</td>
          <td>{{ facture.dateEcheance }}</td>
          <td>
            <button class="btn btn-outline-primary btn-sm me-2" (click)="updateFacture($event, facture)"
              title="Modifier Facture" [disabled]="!isAdmin">
              <i class="bi bi-pencil"></i>
            </button>

            <button class="btn btn-outline-primary btn-sm me-2" (click)="cancelModif($event, facture)"
              title="Annuler statut" [disabled]="!isAdmin || facture.factureStatus == 'KO'">
              <i class="bi bi-x-circle"></i>
            </button>

            <button class="btn btn-outline-primary btn-sm me-2" (click)="detailFacture($event, facture)"
              title="Statut Facture" [disabled]="!isAdmin">
              <i class="bi bi-info-circle"></i>
            </button>
            <button class="btn btn-outline-danger btn-sm me-2" (click)="deleteFacture($event, facture)"
              title="Supprimer Facture" [disabled]="!isAdmin">
              <i class="bi bi-trash"></i>
            </button>

            <button class="btn btn-primary btn-sm me-2" (click)="downloadFacture(facture)" title="Télécharger Facture"
              [disabled]="!isAdmin">
              <i class="bi bi-download"></i>
            </button>
          </td>
        </tr>
        } @empty {
        <p>Aucun Facture</p>
        }
      </tbody>
    </table>
    @if(totalPages > 1){
    <!-- ✅ Pagination bien placée et centrée -->
    <div class="pagination d-flex justify-content-center align-items-center gap-3 mt-3">
      <button class="btn btn-outline-primary" (click)="previousPage()" [disabled]="page === 0">← Précédent</button>
      <span>Page {{ page + 1 }} / {{ totalPages }}</span>
      <button class="btn btn-outline-primary" (click)="nextPage()" [disabled]="page >= totalPages - 1">Suivant
        →</button>
    </div>
    }
  </div>
</div>

} @else {
<bill-waiting [edit]="parent"></bill-waiting>
}