@if(isLoaded){

<div class="mt-4 mx-5">
  <div class="d-flex justify-content-between align-items-end mb-3">
    <!-- Colonne de gauche : Exercice -->
    <div style="width: 200px">
      <label for="yearSelect" class="form-label fw-bold">Exercice</label>
      <select
        (change)="setYearValue($event)"
        class="form-select"
        id="yearSelect"
        [(ngModel)]="selectedExercice"
      >
        @for (year of exercises; track year.id) {
        <option [value]="year.exercise">{{ year.exercise }}</option>
        }
      </select>
    </div>
    <!-- Colonne centrale : Tableau centré -->
    <div class="flex-grow-1 d-flex justify-content-center">
      <table class="table table-bordered w-auto">
        <thead>
          <tr>
            <th scope="col">CA NET</th>
            <th scope="col">CA TTC</th>
            <th scope="col">TOTAL TVA</th>
            <th scope="col">TOTAL NET</th>
            <th scope="col">TOTAL REGLE</th>
            @if(tvaInfosFilterd.totalTvaRestant>0 ){
            <th scope="col">RESTE A PAYER</th>
            }@else {
            <th scope="col">TROP PAYER</th>
            }
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="text-align: center">
              {{ tvaInfosFilterd.totalCAHorsTaxe | customDecimalPipe }}
            </td>
            <td class="text-center">
              {{ tvaInfosFilterd.totalTTC | customDecimalPipe }}
            </td>
            <td class="text-center">
              {{ tvaInfosFilterd.totalTva | customDecimalPipe }}
            </td>
            <td class="text-center">
              {{ tvaInfosFilterd.totalTvaNet | customDecimalPipe }}
            </td>
            <td class="text-center">
              {{ tvaInfosFilterd.totalTvaPaye | customDecimalPipe }}
            </td>
            @if(tvaInfosFilterd.totalTvaRestant>0 ){
              <td class="text-center">
              {{ tvaInfosFilterd.totalTvaRestant | customDecimalPipe }}
            </td>
             }@else {
            <td class="text-center">
              {{ -tvaInfosFilterd.totalTvaRestant | customDecimalPipe }}
            </td>
            }
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-success table-striped">
      <thead class="table-dark">
        <tr>
          <th scope="col">Numéro Facture</th>
          <th scope="col">Mois Facture</th>
          <th scope="col">Tarif HT</th>
          <th scope="col">Quantité</th>
          <th scope="col">Prix Total HT</th>
          <th scope="col">Prix Total TTC</th>
          <th scope="col">Total TVA</th>
          <th scope="col">Total Net TVA</th>
          <th scope="col">Date d'Echéance</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (facture of filtredFactures; track facture.id) {
        <tr
          [ngClass]="{
            'table-success': facture.factureStatus == 'OK',
            'table-danger': facture.factureStatus == 'KO'
          }"
        >
          <td style="text-align: center">{{ facture.numeroFacture }}</td>
          <td>{{ facture.moisFacture }}</td>
          <td>{{ facture.tarifHT }}</td>
          <td>{{ facture.quantite | customDecimalPipe }}</td>
          <td>{{ facture.prixTotalHT | customDecimalPipe }}</td>
          <td>{{ facture.prixTotalTTC | customDecimalPipe }}</td>
          <td>{{ facture.montantTVA | customDecimalPipe }}</td>
          <td>{{ facture.montantNetTVA | customDecimalPipe }}</td>
          <td>{{ facture.dateEcheance }}</td>
          <td>
            <button
              class="btn btn-outline-primary btn-sm me-2"
              (click)="updateFacture($event, facture)"
              title="Modifier Facture"
              [disabled]="!isAdmin"
            >
              <i class="bi bi-pencil"></i>
            </button>

             <button
              class="btn btn-outline-primary btn-sm me-2"
              (click)="cancelModif($event, facture)"
              title="Annuler statut Facture"
              [disabled]="!isAdmin || facture.factureStatus == 'KO'"
            >
              <i class="bi bi-x-circle"></i>
            </button>

            <button
              class="btn btn-outline-primary btn-sm me-2"
              (click)="detailFacture($event, facture)"
              title="Statut Facture"
              [disabled]="!isAdmin"
            >
              <i class="bi bi-info-circle"></i>
            </button>
            <button
              class="btn btn-outline-danger btn-sm me-2"
              (click)="deleteFacture($event, facture)"
              title="Supprimer Facture"
              [disabled]="!isAdmin"
            >
              <i class="bi bi-trash"></i>
            </button>

            <button
              class="btn btn-primary btn-sm me-2"
              (click)="downloadFacture(facture)"
              title="Télécharger Facture"
              [disabled]="!isAdmin"
            >
              <i class="bi bi-download"></i>
            </button>
          </td>
        </tr>
        } @empty {
        <p>Aucun Facture</p>
        }
      </tbody>
    </table>
  </div>
</div>

} @else {
<bill-waiting [edit]="parent"></bill-waiting>
}
