<div class="mt-4 mx-5">
    <table class="table table-success">
        <thead class="table-dark">
            <tr>
                <th scope="col">Raison sociale</th>
                <th scope="col">Adresse Email</th>
                <th scope="col">Adresse client</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>

            socialReason: string;
            email: string;
            adresseClient: Adresse;

            @for (client of clients; track client.id) {
            <tr>
                <td align="centre">{{ client.socialReason }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.adresseClient }}</td>

                <td> <button class="btn btn-outline-danger btn-sm me-2" (click)="deleteClient(client)"
                        title="Supprimer Client">
                        <i class="bi bi-trash"></i>
                    </button>

                    <button class="btn btn-outline-primary btn-sm" (click)="updateClient(client)" title="Modifier Client">
                        <i class="bi bi-pencil"></i>
                    </button>
                    </td>
                    </tr>
                    }
                    </tbody>
                    </table>
                    </div>