<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 1080;">
  <div *ngFor="let t of toasts" class="toast mb-2" [class.show]="t.visible" [class.fade]="true" [ngClass]="{
         'success-toast': t.type === 'success',
         'info-toast': t.type === 'info',
         'warning-toast': t.type === 'warning',
         'danger-toast': t.type === 'danger'
       }" role="alert" aria-live="assertive" aria-atomic="true">

    <div class="toast-header align-items-center">
      <i [ngClass]="{
            'bi bi-check-circle-fill text-success': t.type === 'success',
            'bi bi-info-circle-fill text-info': t.type === 'info',
            'bi bi-exclamation-triangle-fill text-warning': t.type === 'warning',
            'bi bi-x-circle-fill text-danger': t.type === 'danger'
          }" class="me-2 fs-3"></i>

      <strong class="me-auto">
        {{ t.title || (t.type === 'success' ? 'Succès' :
        t.type === 'info' ? 'Information' :
        t.type === 'warning' ? 'Attention' :
        'Echec') }}
      </strong>

      <button type="button" class="btn-close ms-2 mb-1" aria-label="Close" (click)="closeClicked(t.id)">
      </button>
    </div>

    <div class="toast-body">
      {{ t.message }}
    </div>
  </div>
</div>