<div class="overlay-loader">
  <div class="d-flex justify-content-center align-items-center vh-50">
    <div class="text-center bg-white p-4 rounded shadow">
      <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
        <span class="visually-hidden">Chargement en cours...</span>
      </div>
      <div class="mt-3">
        <i class="bi bi-lightning-charge-fill text-primary fs-2"></i>
      </div>
      @if(isEdit){
      <p class="mt-2 fw-bold blink">Edition de la facture en cours...</p>
      }
    </div>
  </div>
</div>
