@if(isLoaded){
<div class="mt-4 mx-5">
  <div class="d-flex justify-content-between align-items-end">
    <div class="mb-3 me-2" style="width: 200px">
      <label for="companySelect" class="form-label fw-bold">Société</label>
      <select
        (change)="setCompanyValue($event)"
        class="form-select"
        id="companySelect"
      >
        @for (company of companies; track company.id) {
        <option value="{{ company.siret }}" [value]="company.siret">
          {{ company.socialReason }}
        </option>
        }
      </select>
    </div>
    <div class="mb-3">
      <button class="btn btn-pink" title="Nouveau" (click)="addCampany()">
        Ajouter
      </button>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-success table-striped">
      <thead class="table-dark">
        <tr>
          <th scope="col">Raison sociale</th>
          <th scope="col">Siret</th>
          <th scope="col">RCS</th>
          <th scope="col">Nom TVA</th>
          <th scope="col">Code APE</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (company of companies; track company.id) {
        <tr>
          <td style="text-align: center">{{ company.socialReason }}</td>
          <td>{{ company.siret }}</td>
          <td>{{ company.rcsName }}</td>
          <td>{{ company.numeroTva }}</td>
          <td>{{ company.codeApe }}</td>

          <td>
            <label>
              <input
                class="form-check-input custom-checkbox me-4"
                type="checkbox"
                [checked]="company.checked"
                disabled
              />
            </label>
            <button
              class="btn btn-outline-danger btn-sm me-2"
              (click)="deleteCompany(company)"
              title="Supprimer Company"
            >
              <i class="bi bi-trash"></i>
            </button>

            <button
              class="btn btn-outline-primary btn-sm"
              (click)="updateCompany(company)"
              title="Modifier Company"
            >
              <i class="bi bi-pencil"></i>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
} @else {
<bill-waiting></bill-waiting>
}
