@if(isLoaded){

<div class="mt-4 mx-5">
  <div class="d-flex justify-content-between align-items-end mb-3" style="gap: 10px;">
    <div style="width: 150px ; margin-right: 0;">
      <label for="yearSelect" class="form-label fw-bold">Exercice</label>
      <select (change)="setExerciceValue($event)" class="form-select" id="yearSelect">
        @for (year of exercises; track year.id) {
        <option [value]="year.exercise">{{ year.exercise }}</option>
        }
      </select>
    </div>

    <div style="width: 150px; margin-left: 0;">
      <label for="typeSelect" class="form-label fw-bold">Mois</label>
      <select (change)="setMonthValue($event)" class="form-select" id="typeSelect">
        @for (month of monthsYear; track month.id) {
        <option value="{{ month.id }}">{{ month.label }}</option>
        }
      </select>
    </div>

    <div style="width: 150px; margin-left: 0;">
      <label for="typeSelect" class="form-label fw-bold">Type</label>
      <select (change)="setTypeValue($event)" class="form-select" id="typeSelect">
        @for (type of typeOperations; track type) {
        <option [value]="type">{{ type }}</option>
        }
      </select>
    </div>

    <div>
      <label class="form-label invisible" for="add">Importer</label>
      <button id="add" class="btn btn-pink" (click)="importOperations()" title="Ajouter une opération">
        <i class="bi bi-plus-circle me-1"></i>
        Importer
      </button>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-success table-striped">
      <thead class="table-dark">
        <tr>
          <th scope="col">Date Opération</th>
          <th scope="col">Déscription</th>
          <th scope="col">Type</th>
          <th scope="col">Montant</th>
          <th scope="col">Exercice</th>
        </tr>
      </thead>
      <tbody>
        @for (operation of operationsFiltred; track operation.id) {
        <tr>
          <td style="text-align: center">{{ operation.dateOperation }}</td>
          <td style="text-align: left">{{ operation.descriptionOperation }}</td>
          <td style="text-align: center">{{ operation.typeOperation }}</td>
          <td style="text-align: center">{{ operation.montantOperation | customDecimalPipe }}</td>
          <td style="text-align: center">{{ operation.exercise }}</td>
        </tr>
        } @empty {
        <tr>
          <td colspan="8" class="text-center text-muted py-3">
            Aucune Opération
          </td>
        </tr>
        }
      </tbody>
      <!-- LIGNE TOTAUX -->
      @if(totalOperation > 0){
      <tfoot class="fw-bold table-dark">
        <tr>
          <td>Total</td>
          <td class="text-center">{{totalOperation}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td colspan="3"></td>
        </tr>
      </tfoot>
      }
    </table>
    @if(totalPages > 1){
    <!-- ✅ Pagination bien placée et centrée -->
    <div class="pagination d-flex justify-content-center align-items-center gap-3 mt-3">
      <button class="btn btn-outline-primary" (click)="previousPage()" [disabled]="page === 0">
        ← Précédent
      </button>
      <span>Page {{ page + 1 }} / {{ totalPages }}</span>
      <button class="btn btn-outline-primary" (click)="nextPage()" [disabled]="page >= totalPages - 1">
        Suivant →
      </button>
    </div>
    }
  </div>
</div>

} @else {
<bill-waiting [edit]="parent"></bill-waiting>
}